<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap" rel="stylesheet">
        {%- if useOUACSS -%}
            <link rel="stylesheet" href="{{ '/css/oua-theme.css' | url }}">
            <style>
                section.adx-podcast-square div {z-index: 0;}
                .adx div.adx-direction:before, .adx div.adx-direction-assess:before, .adx div.adx-direction-inform:before, .adx div.adx-direction-ib:before, .adx div.adx-direction-hsm:before, .adx div.adx-direction-write:before, .adx div.adx-direction-watch:before, .adx div.adx-direction-reflect:before, .adx div.adx-direction-reading:before, .adx div.adx-direction-practice:before, .adx div.adx-direction-investigate:before, .adx div.adx-direction-interactive:before, .adx div.adx-direction-extra:before, .adx div.adx-direction-discussion:before, .adx div.adx-direction-assessment:before, .adx div.adx-direction-negative:before, .adx div.adx-direction-positive:before, .adx div.adx-direction-warning:before, .adx div.adx-direction-question:before, .adx div.adx-direction-info:before, .adx div.adx-direction-listen:before, .adx div.adx-direction-university:before {height: 100%;}
                figcaption {font-size: .9rem;}
            </style>
        {%- endif -%}

    </head>

    <body>

        <nav>
			    <a href="{{ '/' | url }}">
    			  <h1 class="logo-present">{{ title }}</h1>
    			  <img src="{{ '/images/Icon.svg' | url }}" alt="UoA Online Logo">
  			  </a>
          <ul>
            <li><a href="{{ '/about/' | url }}">About</a></li>
            <li><a href="{{ '/programs/' | url }}">Programs</a></li>
            <li><a href="{{ '/courses/' | url }}">Courses</a></li>
            <li><a href="{{ '/people/' | url }}">People</a></li>
            <li><a href="{{ '/process/' | url }}">Process</a></li>
            {# <li><a href="{{ '/pedagogy/' | url }}">Pedagogy</a></li> #}
            <li><a href="{{ '/tools/' | url }}">Tools</a></li>
          </ul>
        </nav>  

        {{ content | safe }}

    </body>
</html>