<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap" rel="stylesheet">

    </head>

    <body>

        <nav>
			    <a href="{{ '/' | url }}">
    			  <h1 class="logo-present">{{ title }}</h1>
    			  <img src="{{ '/images/Icon.svg' | url }}" alt="UoA Online Logo">
  			  </a>
          <ul>
            <li><a href="{{ '/about/' | url }}">About</a></li>
            <li><a href="{{ '/courses/' | url }}">Courses</a></li>
            <li><a href="{{ '/programs/' | url }}">Programs</a></li>
            <li><a href="{{ '/process/' | url }}">Process</a></li>
            <li><a href="{{ '/people/' | url }}">People</a></li>
          </ul>
        </nav>  

        {{ content | safe }}

    </body>
</html>