<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
    </head>

    <body>

        <nav>
          <h1><a href="{{ '/' | url }}"> Home</a></h1> 
          <ul>
            <li><a href="{{ '/about/' | url }}">About</a></li>
            <li><a href="{{ '/courses/' | url }}">Courses</a></li>
            <li><a href="{{ '/programs/' | url }}">Programs</a></li>
            <li><a href="{{ '/process/' | url }}">Process</a></li>
            <li><a href="{{ '/people/' | url }}">People</a></li>
          </ul>
        </nav>  

        {{ content | safe }}

    </body>
</html>