---
layout: base.njk
---

<h1>{{ CourseName }} </h1>
<small>{{Programs}}</small>
<p>{{ Description | nl2br |safe }}</p>

<p><strong>Development Cycle: {{ DevCycle }} </strong></p>
<p><em><a href="{{Blueprint}}">Course Blueprint</a></em></p>

<h3>Learning Outcomes</h3>

<ul>
    {% for item in CLOs -%}
    <li>{{ item }}</li>
    {% endfor %}
</ul>

<h3>Development Team</h3>

<ul>
    {% for member in Team -%}
    <li>{{ member.Name }} | {{ member.Role }} | {{ member.Involvement | capitalize }}</li>
    {% endfor %}
</ul>

<h3>Assessments</h3>

<ol>
    {% for assignment in Assessments -%}
    <li>{{ assignment.Name}} | {{ assignment.Weighting }}%</li>
    {% endfor %}
</ol>

<h3>Topics</h3>
<ul>
    {% for topic in Topics -%}
    <li>{{ topic }} </li>
    {% endfor %}
</ul>