---
layout: base.njk
---    
        

{%- set courseSlug = CourseName | slugify -%}
{%- set bannerFile = courseSlug + '.png' -%}

<header style="background: url('{% bgImageUrl bannerFile, 800 %}') no-repeat, var(--accent-default); background-size: cover; background-blend-mode: darken; background-position: 55% 30%;">
  
  <h2 class="p-name course-name">{{ CourseName }}</h2>
  <div id="program-details">
    <ul class"programs">
      {% for item in Programs -%}
      <li class="{% if item=="IB" %}program-ib {% else %} program-hsm {% endif %}">{{ item }}</li>
      {% endfor %}
    </ul>
    <div class="dev-cycle">Cycle {{ DevCycle }}</div>
  </div>
</header>

<main>
  <div class="course-details">
    <h3 class="label">Course Description</h3>
    <p>{{ Description | nl2br |safe }}</p>

    <h3 class="label">Learning Outcomes</h3>
    <ul>
      {% for item in CLOs -%}
      <li>{{ item }}</li>
      {% endfor %}
    </ul>

    <h3 class="label">Learning Experience</h3>
    {{ content | safe }}

  </div>

  <div class="course-information">
    <h3 class="label">Topics</h3>
    <ul class="topics">
        {% for topic in Topics -%}
        <li>{{ topic }} </li>
        {% endfor %}
    </ul>

    <h3 class="label">Development Team</h3>
    <ul  class="development-team">
      {% for member in Team -%}
<li>
    {%- set personData = people.teamMembers | find("name", member.Name) -%}
      {% if personData and personData.image != "" %}
    <div class="profile-picture">
        <img src="../../images/people/{{ personData.image }}" alt="{{ member.Name }}" /> 
    </div>
      {% endif %}

    <h4 class="team-name">{{ member.Name }}</h4>
    <h5 class="team-role label">{{ member.Role }}</h5>
    <p class="team-involvement">{{ member.Involvement | capitalize }}</p>
</li>
{% endfor %}
    </ul>


  </div>

<div class="snapshots">
    <h3 class="label">Snapshots</h3>
    <ul>
        {% for item in Snapshot %}
        <li><a href="{{ item.Link }}">{{ item.Name }}</a> {{ item.Description }}</li>
        {% endfor %}
    </ul>
  </div>

  <div class="learning-resources">
    <h3 class="label">Learning Resources</h3>
    <ul class="list">
      {% for media in Media %}
      <li class="media {{ media.Type }}">

        <h4>{{ media.Name }} </h4>
        
            {% if media.Type=="IMG"%}
                <figure>
                    <img src="/uoa-online/images/resources/{{ media.Link }}" alt="{{ media.Name }}" title="{{ media.Name }}">
                    <figcaption>{{ media.Description }}</figcaption>
                </figure>
            {% endif %}
        
            {% if media.Type=="H5P"%}
                {# <p>{{ media.Description }} </p> #}
                <div class="responsive-iframe-container">
                  <iframe class="lti-embed" width="100%" height="800" title="{{ media.Name }}" src="{{ media.Link }}" frameborder="0"></iframe>
                <figcaption>{{ media.Description }}</figcaption>
                </div>
            {% endif %}

            {% if media.Type=="YOUTUBE" %}
              <div class="responsive-iframe-container">
                <iframe title="YouTube video player" src="https://www.youtube-nocookie.com/embed/{{ media.Link }}" width="560" height="315" loading="lazy" allowfullscreen="allowfullscreen" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
              </div>
            {% endif %}

            {% if media.Type=="ECHO" %}
                <p><a href="media.Location">{{ media.Name }}</a></p>
            {% endif %}

            {% if media.Type=="IFRAME"%}
                <p>{{ media.Description }} </p>
                <div class="responsive-iframe-container">
                  <iframe class="lti-embed" width="100%" height="800" title="{{ media.Name }}" src="{{ media.Link }}" frameborder="0"></iframe>
                </div>
            {% endif %}

      </li>
    {% endfor %}
    </ul>
  </div>

  <div class="assessments">
    <h3 class="label">Assessments</h3>
    <ol>
      {% for assignment in Assessments -%}
      <li>
        <h4 class="assessment-name">{{ assignment.Name}}</h4>
        <h5 class="assessment-type">{{ assignment.Type }}</h5>
        <p class="assessment-description">{{ assignment.Description}}</p>
        <h4 class="assessment-weight">{{ assignment.Weighting }}%</h4>
      </li>
      {% endfor %}
    </ol>
  </div>

</main>
