---
layout: base.njk
---


<main>
    <article>

        {%- set allTodos = ["Review course description","Add learning experience","Review learning experience","Add assessment descriptions","Add snapshots","Add snapshot descriptions","Review snapshots","Add learning resources","Add learning resource descriptions","Download media resources","Review learning resources","Editorial review","Course ready to publish"] -%}

        <h1>Jobs to be Done</h1>

        <h4><a href=" {{ "/media/" | url }}" target="_blank">Media List</a></h4>
        <h4><a href="https://adelaideuniversity.box.com/s/s2b7wdqn3o57barwv2guiph6zn9w73h2" target="_blank">Box Folder</a></h4>
        <h4><a href=" {{ "/issues/" | url }}" target="_blank">Issues</a></h4>

        <ul class="jobs">
            {%- for item in collections.courses | sort(attribute="data.CourseName") | sort(false, false, 'data.DevCycle') -%}
            <li>
                <h4><a href="{{ item.url |url }}">{{ item.data.CourseName }}</a> {{item.data.DevCycle}}</h4>
                {%- for member in item.data.Team -%}
                    <span class="lead-ld">{{ member.Name if member.Role=="Learning Designer" and member.Involvement=="Lead"}}</span>
                    <span class="lead-ded">{{ member.Name if member.Role=="Digital Education Developer" and member.Involvement=="Lead"}}</span>
                {%- endfor -%}
                <div class="todo-list">
                    <ul>
                    {%- for task in allTodos -%}
                        {%- set isIncomplete = false -%}
                        {%- if item.data.ToDo -%}
                            {%- for todoItem in item.data.ToDo -%}
                                {%- if todoItem == task -%}
                                    {%- set isIncomplete = true -%}
                                {%- endif -%}
                            {%- endfor -%}
                        {%- endif -%}
                        <li class="todo-item {% if not isIncomplete %}completed{% endif %}">
                            <label>
                                <input type="checkbox" {% if not isIncomplete %}checked{% endif %} disabled>
                                <span>{{ task }}</span>
                            </label>
                        </li>
                    {%- endfor -%}
                    </ul>
                </div>
            </li>
            {%- endfor -%}
        </ul>
    </article>

    <article>
            {{ content | safe }}
    </article>
</main>

