<div class="adx">

<h4 class="adx-markup-label">Fancy Ordered List</h4>

<ol class="fancy-ol">
  <li>Gather your ingredients</li>
  <li>Pour all the ingreients into a bowl</li>
  <li>Stir and mix together</li>
  <li>Place into the over to cook</li>
  <li>Remove from the oven and eat</li>
  <li>Meditation cray snackwave raw denim thundercats banh mi. XOXO pour-over unicorn bushwick YOLO brunch. Flexitarian direct trade hammock cloud bread art party occupy. Slow-carb glossier literally thundercats truffaut, church-key quinoa tousled. Pour-over asymmetrical brooklyn narwhal, hell of waistcoat 8-bit irony.</li>
</ol>

<h4 class="adx-markup-label">Step List</h4>

<ul class="step-list">
  <li class="step-2">Gather your ingredients</li>
  <li>Pour all the ingreients into a bowl</li>
  <li>Stir and mix together</li>
  <li>Place into the over to cook</li>
  <li>Remove from the oven and eat</li>
  <li>Meditation cray snackwave raw denim thundercats banh mi. XOXO pour-over unicorn bushwick YOLO brunch. Flexitarian direct trade hammock cloud bread art party occupy. Slow-carb glossier literally thundercats truffaut, church-key quinoa tousled. Pour-over asymmetrical brooklyn narwhal, hell of waistcoat 8-bit irony.</li>
</ul>

</div>