<div class="adx">

<h4 class="adx-markup-label">Default landscape image set to 80%</h4>

<figure class="w80" style="margin: auto; text-align: center;"><img src="https://mediaproduction.adelaide.edu.au/uoa-styles/assets/spacex-unsplash.d9507b06.jpg" alt="" class="top kl_popup_image"><figcaption><strong>Figure 1.1.1: </strong>This is one hell of a rocket with its width set to 80%.<br><em>Source: <a href="http://www.unsplash.com/" target="_blank" class="text-brand-midblue underline">http://www.unsplash.com/</a></em></figcaption></figure>

<h4 class="adx-markup-label">Side by side</h4>

<section class="adx-gallery two-up">
  <figure>
    <img src="https://mediaproduction.adelaide.edu.au/uoa-styles/assets/persona.987c5b3c.jpg" alt="" class="top kl_popup_image">
    <figcaption>
      <strong>Figure 1.1.5(a):</strong> Image on the left.<br />
      <em>Source: <a href="http://www.unsplash.com/" target="_blank">http://www.unsplash.com/</a></em>
    </figcaption>
  </figure>
  <figure>
    <img src="https://mediaproduction.adelaide.edu.au/uoa-styles/assets/persona.987c5b3c.jpg" alt="" class="top kl_popup_image">
    <figcaption>
      <strong>Figure 1.1.5(b):</strong> Image on the right.<br />
      <em>Source: <a href="http://www.unsplash.com/" target="_blank">http://www.unsplash.com/</a></em>
    </figcaption>
  </figure>
</section>

<h4 class="adx-markup-label">Video Player with Transcript</h4>

<section class="adx video">
  <div class="videoWrapper">
    <iframe title="YouTube video player" src="https://www.youtube.com/embed/U9OPRtMRwE0" width="560" height="315" allowfullscreen="allowfullscreen" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"></iframe>
  </div>
  <footer>
    <div class="v-icon-holder">
     <a href="#" class="adx-icon download">Transcript [.txt]</a>
    </div>
  </footer>
</section>

<h4 class="adx-markup-label">Responsive iFrame Wrapper</h4>
<section class="adx video"><iframe class="adx-frame" src="https://mediaproduction.adelaide.edu.au/oua-interactives/#/economy-transition-map" width="100%" height="900px"></iframe></section>

<h4 class="adx-markup-label">Podcast Player</h4>

<section class="adx-podcast-square">
  <div class="adx-aspect square adx-bg-primary art">
    <img src="https://mediaproduction.adelaide.edu.au/uoa-styles/assets/diff-square.d23bf47b.jpg" alt="" class="center-center">
  </div>
  <h3>Track Title Goes Here</h3>
  <p>Some track details go here.</p>
  <audio controls src="">
  </audio>
</section>

<section class="adx-podcast-wide">
  <div class="track">
    <h3>Track Title Goes Here</h3>
    <p>Some track details go here.</p>
  </div>
  <div class="adx-aspect square adx-bg-primary art">
    <img src="https://mediaproduction.adelaide.edu.au/uoa-styles/assets/diff-square.d23bf47b.jpg" alt="" class="center-center">
  </div>
  <audio controls src="">
  </audio>
</section>

</div>