<div class="adx">
<h4 class="adx-markup-label">Profile Card</h4>

<article class="adx-profile"><img src="https://mediaproduction.adelaide.edu.au/uoa-styles/assets/persona.987c5b3c.jpg" alt=""><section><h3 class="name">Christian Surname</h3><p class="title">Senior Deputy Vice President</p><p class="location">Adelaide, Australia</p><p class="contact">christian.surname@adelaide.edu.au</p><p class="availability">Mon-Fri 9-3pm</p><p>Here's my bio about stuff</p></section></article>

<h4 class="adx-markup-label">base Persona</h4>

<div class="adx-cue persona"><div class="persona-image"><img src="https://mediaproduction.adelaide.edu.au/uoa-styles/assets/persona.987c5b3c.jpg" alt="" class="persona"></div><div class="persona-content"><h5>Persona Name</h5><p>Testing content!</p></div></div>

<div class="adx-cue persona-brand-midblue"><div class="persona-image"><img src="https://mediaproduction.adelaide.edu.au/uoa-styles/assets/persona.987c5b3c.jpg" alt="" class="persona"></div><div class="persona-content"><h5>Persona Name</h5><p>Testing content!</p></div></div>

<div class="adx-cue persona-warning"><div class="persona-image"><img src="https://mediaproduction.adelaide.edu.au/uoa-styles/assets/persona.987c5b3c.jpg" alt="" class="persona"></div><div class="persona-content"><h5>Persona Name</h5><p>Testing content!</p></div></div>

<div class="adx-cue persona-positive"><div class="persona-image"><img src="https://mediaproduction.adelaide.edu.au/uoa-styles/assets/persona.987c5b3c.jpg" alt="" class="persona"></div><div class="persona-content"><h5>Persona Name</h5><p>Testing content!</p></div></div>

</div>