
@use "modules/reset";
@forward "modules/colours";
@use "modules/grid";
@use "modules/element-highlights";
@use "modules/iframe";

:root {
  --heading-font: Oswald;
}

body {
  font-family: system-ui;
  font-size: clamp(16px, calc(12.8px + 1vw), 20px);
}

h1 {
  color: lightdark(var(--primary-default), cornflower);
  background-color: lightdark(color-mix(in srgb, var(--primary-default), white 60%), var(--primary-default));
}

.lead {
  background: color-mix(in srgb, var(--ld1-base) 30%, white);
}

.job {
  background: color-mix(in srgb, var(--ld2-base) 30%, white);
}

// p, li, figcaption {
//   max-width: 72ch;
// }