
@use "modules/reset";
@forward "modules/colours";
@use "modules/grid";
@use "modules/element-highlights";

:root {
  --heading-font: Oswald;
}

body {
  font-family: system-ui;
}

h1 {
  color: lightdark(var(--primary-default), cornflower);
  background-color: lightdark(color-mix(in srgb, var(--primary-default), white 60%), var(--primary-default));
}

.lead {
  background: color-mix(in srgb, var(--ld1-base) 30%, white);
}

.job {
  background: color-mix(in srgb, var(--ld2-base) 30%, white);
}

p {
  // color: var(--accent-default);
}