:root {
//Add in Light/DarkScheme
    // color-scheme: light dark;
    --page-light: #E9E9E9;
    --page-dark: #140F50;

    --rev: #ffffff;
    --blk: #000000;

// Brand Palette    
    --primary-default: #102535;
    --secondary-default: #005a9c;
    --tertiary-default: #b38808;
    --accent-default: #d40000;

// LD Palette
    --ld1-base: hsl(189, 100%, 47%);
    --ld2-base: hsl(355, 100%, 67%);
    --ld3-base: hsl(33, 100%, 50%);
    --ld4-base: hsl(40, 100%, 62%);
    --ld5-base: hsl(100, 39%, 57%);
    --ld6-base: hsl(167, 100%, 35%);
    --ld7-base: hsl(278, 97%, 71%);

// Program Palette
    --oua-ib: #fb6f26;
    --oua-hsm: #4bcaf1; 

// UI Palette
    --rev: #ffffff;
    --neutral-base: #B9C0C6; 
    --positive-base: #22964f;
    --negative-base: #d4322c;
    --warning-base: #ffa423;
    --information-base: #052A8A;
} 