// .course-name { background-color: color-mix(in srgb, var(--ld1-base) 30%, white);}
// .program-ib {background-color: color-mix(in srgb, var(--oua-ib) 30%, white);}
.program-hsm {background-color: color-mix(in srgb, var(--oua-hsm) 30%, white);}
//.dev-cycle { background-color: color-mix(in srgb, var(--ld2-base) 30%, white);}
.blueprint {}
// .course-description { background-color: color-mix(in srgb, var(--ld3-base) 30%, white);}
// .development-team { background-color: color-mix(in srgb, var(--ld6-base) 30%, white);}
.team-name {}
.team-role {}
.team-involvement {}
// .clos { background-color: color-mix(in srgb, var(--ld5-base) 30%, white);}
// .topics { background-color: color-mix(in srgb, var(--ld4-base) 30%, white);}
// .assessments { background-color: color-mix(in srgb, var(--ld3-base) 10%, white);}
// .assessment-name { background-color: color-mix(in srgb, var(--ld3-base) 30%, white);}
// .assessment-weight { background-color: color-mix(in srgb, var(--ld3-base) 60%, white);}
// .assessment-type{ background-color: color-mix(in srgb, var(--ld3-base) 50%, white);}
// .assessment-description { background-color: color-mix(in srgb, var(--ld3-base) 30%, white);}
// .learning-experience { background-color: color-mix(in srgb, var(--ld7-base) 30%, white);}
// .snapshots { background-color: color-mix(in srgb, var(--ld1-base) 30%, white);}
// .learning-resources { background-color: color-mix(in srgb, var(--ld2-base) 30%, white);}