body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    padding: 2ch;
}

main {
 display: grid;
 grid-template-columns: 2vw 1fr 1fr minmax(200px, 65ch) 1fr 1fr 2vw;
 
 & > * {
    grid-column: 4/5;
 }

 img { 
    grid-column: 3/6;
 }
}